<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action="/users" method="post">
		Name: <input type="text" name="name">
		Age: <input type="text" name="age">
		<input type="submit"><br><br>
		<% for(var i = 0; i < keke.length; i++ ) { %>
		<li><%=keke[i].name%></li>
		<li><%=keke[i].age%></li><br>
		<% } %>
	</form>	
</body>
</html>