<!DOCTYPE html>
<html>
<head>
	<title>New Dog Form</title>
</head>
<body>	
	<h1> New Dog Form </h1>
	<form action="/dogs" method="post">
		Dog Name: <input type="text" name="name"><br><br>
		Dog Breed: <input type="text" name="breed"><br><br>
		Dog Age: <input type="number" name="age"><br><br>
		
		<input type="submit" value="Add this dog!">
	</form>
	<form action="/">
		<input type="submit" value="HOME">
	</form>
</body>
</html>