<!DOCTYPE html>
<html>
<head>
	<style>
		h1 {
			text-align: center;
			font: bold;
		}
		.text {
			text-align: center;
		}
		.plustwo {
			text-align: center;
			padding-bottom: 20px;

		}
		.reset {
			text-align: center;

		}
	</style>
	<title></title>
</head>
<body>
	<h1>Counter</h1>
	<div class="text">You have views this website <%=sessionCount%>  times</div><br><br>
	<form action="/plustwo">
	<div class="plustwo"><input type="submit" value="+2"></div>
	</form>
	<form action="/reset">
	<div class="reset"><input type="submit" value="reset"></div>
	</form>
</body>
</html>