<!DOCTYPE html>
<html>
<head>
  <script src="jquery-3.3.1.min.js"></script>
  <title>Restful Tasks API</title>
</head>
<body>
<h1 style="text-align: center;">{{title}}</h1>


<br><br>
<!-- <div  style="text-align: center"> -->
<!-- <button (click)="onButtonClick()">Show Tasks!</button></div><br><br> -->

<!-- <div id="woah" *ngFor="let task of tasks">
    <p>{{task.title}}</p>
    <button (click)="taskToShow(task)">Show</button>  
</div> -->




<div id="tasks" style="text-align: center"></div>


<form (submit)="onSubmit()" style="text-align: center">
  <h1>New Task</h1>
  <!-- <p> {{ newTask | json }} </p> -->
  <input type="text" placeholder="Task Title" name="newTask.title" [(ngModel)]="newTask.title" />
  <input type="text" placeholder="Task Description" name="newTask.description" [(ngModel)]="newTask.description" />
    <input type="submit" value="Create Task" />
</form><br><br>




<h1 style="text-align: center">Task List</h1>&nbsp;&nbsp;&nbsp;&nbsp; 


<span *ngFor="let thi of thisTask" style="text-align: center"><h3> Edit Task:</h3><br>
<form (submit)=updateTask(thi._id)>
  <b>Title</b><input type="text" placeholder="{{thi.title}}" name="editTask.title" [(ngModel)]="editThisTask.title" /> <br><br><b>Description</b><input type="text" placeholder="{{thi.description}}" name="editTask.description" [(ngModel)]="editThisTask.description" /><br><input type="submit" value="Update Task"/></form></span><br>



<span *ngFor="let task of tasks" style="text-align: center"><div style="border: 1px solid black; text-align: center; border-radius: 20px; width: 400px; margin-left: 175px"><h2>{{task.title}}</h2>{{task.description}}<br><br><button (click)="editTask(task._id)">Edit</button>&nbsp;&nbsp;<button (click)="deleteTask(task._id)">Delete</button></div><br><br></span>

<br>
{{ tasks | json }}


<!-- <div id="info" style="text-align: center"></div> -->


<!-- <h2 style="text-align: center;">All of the Tasks: </h2>

<span *ngFor="let task of tasks" style="text-align: center"><ul style="text-align: center;list-style-position: inside;"><li style="text-align: center">{{task.title}} - {{task.description}}</li> </ul></span>
       
   



<h2 style="text-align: center;">The third task: </h2>

<div style="text-align: center">{{tasks[2].title}} - {{tasks[2].description}}</div>

<br><br>
<button (click)="onButtonClickParam(5)">Click me!</button> -->






</body>
</html>



<!-- <p *ngFor="let snack of tasks">Here: {{snack}}</p> -->

