<app-nav></app-nav>

<div class="container">
    <div class="container">
        <label class="control-label col-sm-2" for="query">Search:</label>

        <input class="form-control" 
            type="text" 
            name="query"
            [(ngModel)]="query.query"
            #q="ngModel"
            (keyup)="onQuery()"
        >
    </div>

    <app-show-listing [listing]=listings$.source._value.listings[ind] *ngFor="let listing of listings$.source._value.listings; let ind = index"></app-show-listing>
</div>
