/*@media (min-width: 320px) and (max-width: 600px) {
    h1 {
      color: fuchsia;
    }
    #image{
        width: 20%;
        height: 20%;
        position: absolute;
        left: 25%;
        top: 75%;
    }
    .desc:after {
      content:" In fact, it's between 500px and 600px wide.";
    }
  }
*/

body {
	height: 50%;
	padding: 20px;
	background-color: #3D3D3D;
}
#image {
    border-radius: 50%;
    height: auto;

    /*max-width: 100%;*/
    /*position: absolute;*/
    /*top: 15%;*/
    /*right: 30%;*/
    /*z-index: 9999;*/
    
    /*display: inline-block;*/
    /*text-align: left;*/
}
.particles canvas{
    position: absolute;
    width: 100%;
    height: auto;
    z-index: -1;
    

}



/*.containerImage { 

    display: table-cell;
    text-align: center;
    vertical-align: middle;

 }*/