<!-- <h1 class="title">Angular Router</h1> -->

<nav>
  <img src="../../assets/img/logo.png" alt="logo" routerLink="/home">
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/about" routerLinkActive="active">About</a>
  <a routerLink="/team" routerLinkActive="active">Team</a>
  <a routerLink="/body-shop" routerLinkActive="active">Body Shop</a>
  <a routerLink="/contact-us" routerLinkActive="active">Contact Us</a>
  <a routerLink="/reviews" routerLinkActive="active">Reviews</a>
</nav>

<router-outlet></router-outlet>
<router-outlet name="popup"></router-outlet>

<!-- <app-auto-about></app-auto-about>
<app-auto-body-shop></app-auto-body-shop>
<app-auto-contact-us></app-auto-contact-us>
<app-auto-home></app-auto-home>
<app-auto-reviews></app-auto-reviews>
<app-auto-team></app-auto-team> -->

<div id="footer">
  <p>© 2017 Columbia Auto Body. All Rights Reserved.</p>
    
</div>