<h1>Contact Us</h1>
<div class="wrapper">
  <div class="column">
    
    <img src="../../../assets/img/contact1.jpg" alt="call" style="width:75%; margin: 0 auto">
    <p>
        We’d love to hear from you. If you would like to set an appointment for 
        your vehicle, give us a call any time. Also, use us as your friendly, 
        local source of vehicle information: feel free to contact us if you have 
        a question about your vehicle. Or if you’ve recently been a customer of 
        ours, send us a message and let us know how your experience was. We look 
        forward to hearing from you!
    </p>

    <p>
        When you visit us, please find a parking space in front of our office. 
        If each of these spaces happens to be full, then feel free to drive around 
        behind our office where additional parking is available. If you have any 
        trouble finding us please call 410-730-1050.
    </p>
    <ul>
      <li><span>Hours:</span>Mon – Fri: 8 AM – 6 PM | Sat: 9 AM – 1 PM</li>
      <li><span>Phone:</span>(410) 730-1050</li>
      <li><span>Fax:</span>(410)-740-1974</li>
      <li><span>Address:</span>6465 Dobbin Center Way, Columbia, MD 21045</li>
    </ul>
    <h3><a href="https://www.facebook.com/Columbia-Auto-Body-463656603801610"></a></h3>
  </div>
  <div class="column">
    <img src="../../../assets/img/contact2.jpg" alt="map">
  </div>
</div>