<!DOCTYPE html>
<html>
<head>
 
</head>
<body>
  <h1>Favorite authors</h1>
  <button [routerLink]="['/new']">Add An Author</button>
  
  <p>We have quotes by:</p>
  <table>
  	
  	<tr>
  		<th>Author</th>
  		<th>Actions Available</th>
  	</tr>
  	<tr *ngFor="let author of authors">
  		<td>{{author.name}}</td>
  		<td><button (click)="findOneAuthor(author._id)">Edit Task</button><button (click)="deleteAuthor(author._id)">Delete Task</button></td>
  	</tr>

  </table>



<!-- {{authors | json}} -->

<router-outlet></router-outlet><br><br>

 <div id="authors" *ngFor="let thi of authorid"><form (click)="updateAuthor(thi._id) "><b>Update Name</b><input type="text" placeholder="{{thi.name}}" name="editAuthor.name" [(ngModel)]="editAuthor.name"  /> <br><input type="submit" class="btn-success" value="Update Task"/></form></div>

<!-- {{authorid | json}} -->


</body>
</html>


