<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form action="result" method="post">
	<input name="fullname" type="text"  placeholder="Your Name: "><br><br>
	Dojo Location : <select name="dojos">
  	<option value="NYC">NYC</option>
  	<option value="LA">LA</option>
  	<option value="FL">FL</option>
  	<option value="WA">WA</option>
	</select><br>
	Favorite Language: <select name="language">
	<option value="java">java</option>
  	<option value="python">python</option>
  	<option value="ruby">ruby</option>
	</select><br>
	<textarea name="comment" placeholder="Comment(Optional)"></textarea> <br>
	<input type="submit">




</form>	
</body>
</html>