<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Submitted Information</h1><br>
	Name: 		<%=formzdata.fullname%>		<br>
	Dojo Location: 			<%=formzdata.dojos%>	<br>
	Favorite Language:		<%=formzdata.language%>	<br>
	Comment:  <%=formzdata.comment%>	
</body>
</html>