<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
		<h1>{{statsTwo[statsTwo.length-2]}}, IL</h1>
	<p><b>Humidity:</b> {{statsTwo[statsTwo.length-9].humidity}}</p>
	<p><b>Temperature(Average): </b> {{statsTwo[statsTwo.length-9].temp}} </p>
	<p><b>Temperature(High): </b> {{statsTwo[statsTwo.length-9].temp_max}} </p>
	<p><b>Temperature(Low): </b> {{statsTwo[statsTwo.length-9].temp_min}} </p>
	<p><b>Status: </b> {{statsTwo[1][0].main}} </p>
	<img src="assets/images/chicago.jpg" alt="Smiley face" height="300" width="300">
</body>
</html>