<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div class="page-header"><h1>Welcome! Please login if you have an existing account or use the form below to register!</h1></div>
    <div class="container left">
        <%if(typeof(regErrs) != "undefined"){%>
            <%for(err in regErrs){%>
                <div class="alert alert-danger alert-dismissable fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <%if(typeof(regErrs[err].message) != "undefined"){%>
                        <%=regErrs[err].message%>
                    <%}else{%>
                        <%=regErrs[err]%>
                    <%}%>
                </div>                
            <%}%>
        <%}%>

        <form class="form-horizontal" action="/register" method="post">
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Email:</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="first_name">First Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="first_name" placeholder="Enter First Name" name="first_name">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="last_name">Last Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="last_name" placeholder="Enter Last Name" name="last_name">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="password">Password:</label>
                <div class="col-sm-10"> 
                    <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="password_confirm">Password Confirmation:</label>
                <div class="col-sm-10"> 
                    <input type="password" class="form-control" id="password_confirm" placeholder="Confirm Password" name="password_confirm">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="birthday">Birthday:</label>
                <div class="col-sm-10"> 
                    <input type="date" class="form-control" id="birthday" placeholder="Enter Birthday" name="birthday">
                </div>
            </div>

            <div class="form-group"> 
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-danger">Register</button>
                </div>
            </div>
        </form>
    </div>

    <div class="container right">
        <%if(typeof(logErrs) != "undefined"){%>
            <%for(err in logErrs){%>
                <div class="alert alert-danger alert-dismissable fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <%=logErrs[err]%>
                </div>                
            <%}%>
        <%}%>

        <form class="form-horizontal" action="/login" method="post">
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Email:</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="password">Password:</label>
                <div class="col-sm-10"> 
                    <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
                </div>
            </div>

            <div class="form-group"> 
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>