<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form>
		Enter your Car Information:<br><br><br>
		<input type="text" placeholder="Car Model"><br><br>
		<input type="text" placeholder="Car Make"><br><br>
		<input type="text" placeholder="Car Year"><br><br>
		<input type="text" placeholder="Car Color"><br><br>
		<input type="submit" value="ENTER THIS CAR">

	</form>	
</body>
</html>