<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <!-- <link rel="stylesheet" href="style.css"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="jquery-3.3.1.min.js"></script>
  <title>Sean Hamilton Software Engineer</title>
</head>
<body>
	<p>I am a software engineer that specializes in full-stack web development and native application engineering. I am always looking for new projects ! Below are some of the skills I posess along with the technologies I have experience with:</p>
	<ul class="list-group">
		<li>Javascript - jQuery, MongoDB, Angular4+, Express, Node</li>
		<li>Java - Spring Boot, Spring MVC, JavaFX, JBox2D, LWJGL, <br>JUnit, Apache, Maven</li>
		<li>Python - Django, Flask</li>
		<li>Others - HTML, CSS, Amazon Web Services (AWS), Git, <br>Project Management, Lean, Agile/SCRUM, MySQL</li>
	</ul>

</body>
</html>