<!DOCTYPE html>
<html>
<head>
	<style>
		h1 {
			/*color: black;*/
			text-align: center;
			padding-top: 20px;
			padding-bottom: 20px;
			background-color: #ba66c8;
		}
		.madcat {
			width: 350px;
			height: auto;
			border-radius: 50%;
			margin-left: 250px;
		}
		.lickcat {
			width: 300px;
			height: auto;
			border-radius: 50%;
			margin-left: 270px;
		}
		.blackCat {
			width: 350px;
			height: auto;
			border-radius: 50%;
			margin-left: 250px;
		}
	</style>
	<title></title>
</head>
<body>
	<h1>EJS cats</h1>
	<a href="/cats/madcat"><img class="madcat" src="madcat.jpg"/></a>
	<a href="/cats/lickcat"><img class="lickcat" src="lickCat.jpeg"/><br></a>
	<a href="/cats/blackcat"><img class="blackCat" src="blackCat.jpeg"/></a>

</body>
</html>