<!DOCTYPE html>
<html>
<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="jquery-3.3.1.min.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Restful Tasks API</title>
</head>
<body>
<h1 style="text-align: center;" class="jumbotron">{{title}}&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-pencil"></span> <br><br><p> a simple way to keep track of chores/tasks/reminders</p></h1>



<br><br>




<form (submit)="onSubmit()" style="text-align: center" class="container-fluid bg-grey">
  <h1>New Task&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-ok"></span></h1><br>

  <input type="text" placeholder="New Task Title" name="newTask.title" [(ngModel)]="newTask.title" />
  <input type="text" placeholder="New Task Description" name="newTask.description" [(ngModel)]="newTask.description" />
    <input type="submit" class="btn-primary" value="Create Task" />
</form><br><br>




<h1 style="text-align: center">Task List&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-list-alt"></span></h1>&nbsp;&nbsp;&nbsp;&nbsp; <br>
<div  style="text-align: center">
<button (click)="onButtonClick()" class="btn-danger">Show Tasks!</button></div><br><br>


<div id="tasks"><div *ngFor="let task of allTasks">

  <table class="table-bordered">
    <tr>
      <th>Task Title</th>
      <th>Task Description</th>
      <th>Task Actions</th>
    </tr>
    <tr>
      <td>{{task.title}}</td>
      <td>{{task.description}}</td>
      <td> <button (click)="showInfo(task._id)">Show Info</button><button (click)="deleteTask(task._id)">Delete Task</button><button (click)="editTask(task._id)">Edit Task</button></td>
    </tr>
  <!-- {{task.title}} - {{task.description}} <button (click)="showInfo(task._id)">Show Info</button><button (click)="deleteTask(task._id)">Delete Info</button><button (click)="editTask(task._id)">Edit Task</button></div></div><br><br> -->
  </table>  
</div></div>


<!-- <div id="displayTasks" style="text-align: center"><div  style="border: 1px solid black" *ngFor="let task of selectedTask"><h2>Task Information</h2><br>{{task.description}}</div></div> -->


<div id="editTask" style="text-align: center"><div *ngFor="let thi of thisTask"><form (submit)=updateTask(thi._id)><b>Title</b><input type="text" placeholder="{{thi.title}}" name="editTask.title" [(ngModel)]="editThisTask.title" /> <br><br><b>Description</b><input type="text" placeholder="{{thi.description}}" name="editTask.description" [(ngModel)]="editThisTask.description" /><br><br><input type="submit" class="btn-success" value="Update Task"/></form></div></div>






<app-task *ngIf="selectedTask" [taskToShow]='selectedTask'></app-task> 








</body>
</html>





